@import "tailwindcss";

:root{
  --gold:#C9A227;
  --black:#080808;
  --card:#161616;
  --white:#ffffff;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:var(--black);
  color:white;
  font-family:var(--font-inter),sans-serif;
}

h1,h2,h3,h4{
  font-family:var(--font-playfair),serif;
}

.gold{
  color:var(--gold);
}

.section{
  padding:90px 8%;
}

.container{
  max-width:1280px;
  margin:auto;
}